{{ define "report_type" }}
<a name="schema_index_type"></a>
<font size="+2" face="Arial,Helvetica,Geneva,sans-serif" color="#336699">
    <b>schema_index_type</b>
</font><hr align="left" width="260">

<li class="comment">
    The database schema index type and counts overview.
</li>
<table width="90%" border="1">
    <tr>
        <th class="noLink">Schema</th>
        <th class="noLink">Index Type</th>
        <th class="noLink">Counts</th>
    </tr>
    {{ range .ListSchemaIndexType }}
        <tr>
            <td class="noLink" align="center" >{{ .Schema }}</td>
            <td class="noLink" align="center">{{ .IndexType }}</td>
            <td class="noLink" align="center">{{ .Counts }}</td>
        </tr>
    {{ end }}
</table>
&nbsp;&nbsp;
<center>[<a class="noLink" href="#top">Top</a>]</center>

<a name="schema_constraint_type"></a>
<font size="+2" face="Arial,Helvetica,Geneva,sans-serif" color="#336699">
    <b>schema_constraint_type</b>
</font><hr align="left" width="260">

<li class="comment">
    The database schema constraint type and counts overview.
</li>
<table width="90%" border="1">
    <tr>
        <th class="noLink">Schema</th>
        <th class="noLink">Constraint Type</th>
        <th class="noLink">Counts</th>
    </tr>
    {{ range .ListSchemaConstraintType }}
    <tr>
        <td class="noLink" align="center" >{{ .Schema }}</td>
        <td class="noLink" align="center">{{ .ConstraintType }}</td>
        <td class="noLink" align="center">{{ .Counts }}</td>
    </tr>
    {{ end }}
</table>
&nbsp;&nbsp;
<center>[<a class="noLink" href="#top">Top</a>]</center>

<a name="schema_code_type"></a>
<font size="+2" face="Arial,Helvetica,Geneva,sans-serif" color="#336699">
    <b>schema_code_type</b>
</font><hr align="left" width="260">

<li class="comment">
    The database schema code type and total lines overview.
</li>
<table width="90%" border="1">
    <tr>
        <th class="noLink">Schema</th>
        <th class="noLink">Code Name</th>
        <th class="noLink">Code Type</th>
        <th class="noLink">Code Total Lines</th>
    </tr>
    {{ range .ListSchemaCodeType }}
    <tr>
        <td class="noLink" align="center" >{{ .Schema }}</td>
        <td class="noLink" align="center">{{ .CodeName }}</td>
        <td class="noLink" align="center">{{ .CodeType }}</td>
        <td class="noLink" align="center">{{ .Counts }}</td>
    </tr>
    {{ end }}
</table>
&nbsp;&nbsp;
<center>[<a class="noLink" href="#top">Top</a>]</center>

<a name="schema_synonym_type"></a>
<font size="+2" face="Arial,Helvetica,Geneva,sans-serif" color="#336699">
    <b>schema_synonym_type</b>
</font><hr align="left" width="260">

<li class="comment">
    The database schema synonym type and counts overview.
</li>
<table width="90%" border="1">
    <tr>
        <th class="noLink">Schema</th>
        <th class="noLink">Table Owner</th>
        <th class="noLink">Counts</th>
    </tr>
    {{ range .ListSchemaSynonymType }}
    <tr>
        <td class="noLink" align="center" >{{ .Schema }}</td>
        <td class="noLink" align="center">{{ .TableOwner }}</td>
        <td class="noLink" align="center">{{ .Counts }}</td>
    </tr>
    {{ end }}
</table>
&nbsp;&nbsp;
<center>[<a class="noLink" href="#top">Top</a>]</center>
{{ end }}